body {
}
.page-content {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0NAQEvtbMx_jqALWNcVWVTlyyHY1zxe5zGVRWEBDz71s5lwzC);

}

.hwrapper {
  background-color: black;
  color:#eee;
  text-align:left;
  width: 740px;
  margin: auto;

}
h3 {
font-size: 4em;
}
.trigger li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
  color: #eee;
}
.trigger li a {
  text-decoration: none;

}

.wrapper { text-align :center;
           /*background-color: #d3d3d3;*/
           padding:  1em;
           width:100%;
           margin:0 auto;
            }

img {
    margin: 10px;
    width :10em;
      height :10em;
    background-color: white;
    }
.site-title{
  margin: 0;
  padding: 0;
}
.ppics li  { display :inline-block;
         position :relative;
         margin:1em 1em;
       -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;

          }
h5,h3 { text-align :center;}

h5 { margin-top:5px;
      font-weight:bolder;
}

/*a { text-decoration:none;
    color:black;
   }*/

.fwrapper{
  margin-right: 2em;
  width: 740px;
  margin: auto;
}
.footer-col-2{
  margin-top: 28px;
}
.footer-col-3 ul li{
  list-style: none;
  text-align: left;

}
.footer-col-3{
  margin-top: 13px;

}
.site-footer{
  background-color: black;
    text-align: center;
}
.blogbox {
           width:50em;
           height: 10em;
           margin:auto;
        background-color: white;
        opacity: 0.5;

            }

.hwrapper p {
  color: grey;
}

.bwrapper {
            background-color: #dbdbdb;
            width: 100%;

}

.rss-s p {
           text-align: center;
           margin: 0;
           padding: 1em;
}
.rss-s {
            background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0NAQEvtbMx_jqALWNcVWVTlyyHY1zxe5zGVRWEBDz71s5lwzC);

}
.rss-s img {
    height: 2em;
    width: 2em;
    margin: 0;
}
.fwrapper{
  background-color: black;
}
.site-header { background-color:black;
}

.site-nav{
  margin-top: -85px;
}

.contact-list a {
  color: grey;
  text-decoration: none;
}

.contact-list{
  text-align: left;
}

.user-name {
  color: grey;
  text-decoration: none;
}
.social-media-list{
  color: grey;
  text-decoration: none;
}
