body {
}
.page-content {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0NAQEvtbMx_jqALWNcVWVTlyyHY1zxe5zGVRWEBDz71s5lwzC);

}

/** fonts ****/ 
h3 {font-size: 3em;
    padding-top: 0.5em;

    }
h5,h3 { text-align :center;}

h5 { margin-top:5px;
      font-weight:bolder;
}
p { margin:0;}

a:visited { text-decoration: none;}
a:link { text-decoration: none;}

/*** header ****/
.site-header { background-color:black;
              text-transform: uppercase;}
.hwrapper {
  background-color: black;
  color:#eee;
  text-align:left;
  width: 740px;
  margin: auto;
  height: 5em;
}

.site-title{
  margin: 0;
  padding: 0;
}


.trigger li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
  color: #eee;
  text-transform: uppercase;
}
.trigger li a {
  text-decoration: none;

}
/****profile pics ****/

.pwrapper { text-align :center;
           /*background-color: #d3d3d3;*/
           width:100%;
           margin:0;
            }

img {
    margin: 10px;
    width :10em;
      height :10em;
    background-color: white;
    }

.ppics ul { margin-top: 0;}    

.ppics li  { display :inline-block;
         position :relative;
         margin:1em 1em;
       -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;

          }

/*a { text-decoration:none;
    color:black;
   }*/


/***blog spot *****/

.dwrapper { width:100%;
            text-align: center;   
          }

.about p{ text-align: left;
          margin:0em 1.5em;}
/* .blogbox {
           width:50em;
           height: 10em;
           margin:auto;
           background-color: white;
           opacity: 0.5;
          } */

.bwrapper {
            background-color: #dbdbdb;
            width: 100%;
            margin:0 auto;
            text-align: center;
            padding-bottom: 2em;
          }

.blog { width: 740px;
        text-align: center;
        margin: auto;
      }          
.post-link ul li p { margin-bottom: 0}

.post { text-align: center;
        margin:0 auto;
      }

/****** footer ****/ 

.fwrapper{
  margin-right: 2em;
  width: 740px;
  margin: 0 auto;
  background-color: black;
}
.footer-col-2, .footer-col-3 {
  margin-top: 28px;
  text-align: right;
  
}
.footer-col-3 ul li{
  list-style: none;
  

}
.footer-col-3{
  margin-top: 28px;

}
.site-footer{
  background-color: black;
  text-align: center;
}


.rss-s p {
           text-align: center;
           margin: 0;
           padding: 1em;
}
.rss-s {
            background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0NAQEvtbMx_jqALWNcVWVTlyyHY1zxe5zGVRWEBDz71s5lwzC);

}
.rss-s img {
    height: 2em;
    width: 2em;
    margin: 0;
}


.contact-list a {
  color: grey;
  text-decoration: none;
}

.contact-list{
  text-align: left;
}

.user-name {
  color: grey;
  text-decoration: none;
}
.social-media-list{
  color: grey;
  text-decoration: none;
}
.bloglinks li { text-transform: uppercase;}