body {
}


.wrapper { text-align :center;
           /*background-color: #d3d3d3;*/
           padding: 4em 0;
        background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0NAQEvtbMx_jqALWNcVWVTlyyHY1zxe5zGVRWEBDz71s5lwzC);

            }

img {
    margin: 10px;
    width :10em;
      height :10em;
    background-color: white;
    }

.ppics li  { display :inline-block;
         position :relative;
         margin:1em 1em;
       -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;

          }
h5,h3 { text-align :center;}

h5{ margin-top:5px;}

a { text-decoration:none;
    color:black;
   }

.blogbox {
           width:50em;
           height: 10em;
           margin:auto;
        background-color: white;
        opacity: 0.5;

            }

.bwrapper {
            background-color: #dbdbdb;
            padding : 4em 0;
}

.rss-s p {
           text-align: center;
           margin: 0;
           padding: 1em;
}
.rss-s {
            background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0NAQEvtbMx_jqALWNcVWVTlyyHY1zxe5zGVRWEBDz71s5lwzC);

}
.rss-s img {
    height: 2em;
    width: 2em;
    margin: 0;
}
///**** Font colors and sizes ****///
h3 { font-size:3em;}
