.wrapper { text-align :center;
           margin-top: 4em;
            }

img { width :10em;
      height :10em;
    }

.ppics li  { display :inline-block;
         position :relative;
         border: 1px solid black;
         margin:1em 1em;
         border-radius:5px;
       -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
          }
h5,h3 { text-align :center;}

h5{ margin-top:5px;}

a { text-decoration:none;
    color:black;
   }

.blogbox { background-color: #ededed; 
           border: 1px solid black;
           height:20em;
           width:20em;
           margin:auto;
           border-radius:5px;
            }
          
.bwrapper { margin-left :2em;
			margin-top: 2em; }

.rss-s p { margin: 2em;}			

///**** Font colors and sizes ****///
h3 { font-size:3em;}
