.wrapper { text-align :center;
           margin-top: 4em;
            }

img { width :10em;
      height :10em;
    }

.ppics li  { display :inline-block;
         position :relative;
         border: 1px solid black;
         margin:1em 1em;
       -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
          }
h5,h3 { text-align :center;}

a { text-decoration:none;
    color:black;
   }

.blogbox { background-color: #ededed; 
           border: 1px solid black;
           height:20em;
           width:20em;
           margin:auto;
            }
          
.bwrapper { margin-left :3em; }
