

.profilephoto{

    margin: auto;
    width: 250px;
    height: 305px;
    margin-bottom: 10px;
  }

.profilephoto img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
}


.summary {
margin:auto;
border: 10px solid black;

}

.personalblog{
margin: auto;
border: 10px solid black;

}
